- var { navList } = require('src/utils/global.js');
- var lang = require('src/lang/lang.js').lang;

//- header.zq-header
div.zq-header
  .zq-header-box.inline-block-middle
    .zq-logo
      a.zq-logo-text(href="/")= lang.title
    //- nav.zq-nav.inline-block-middle
    div.zq-nav.inline-block-middle
      each val, index in navList
        .zq-nav-item
          a.zq-nav-a(class=`${val.key == key ? 'zq-nav-a-cur' : ''}` href=`./${val.key}.html` title=`${lang.nav[val.key]}`)
            //- i.fa.zq-nav-a-icon(class= `fa-${val.icon}`)
            div.zq-nav-a-img(style=`background-image: url(${require("src/images/nav/img.png")}); background-position: ${val.position[0] + 'px ' + val.position[1]}`)
            | #{lang.nav[val.key].label}
